!!!
//if IE 8
  <html class="ie ie8">
//if IE 7
  <html class="ie ieold ie7">
//if lt IE 7
  <html class="ie ieold ie6">
include ../_blocks/head 
body(class=locals.bodyClass, id=locals.bodyId)
  include ../_blocks/header 
  .main-content.fwrap
    .article
      != body
    include _sidebar
  include ../_blocks/footer 
</html>
