#main-content.fwrap
  h1 设置您的密码 
  form#set-password(method='post')
    p
      label.inp-placeholder(for='password') 请输入密码
      input(type='password', name='password', id='password') 
    p
      label.inp-placeholder(for='password') 再次确认密码
      input(type='password', name='password', id='password') 
    p
      button(type='submit') 确认 
