title = '关于 | ' + SITE_NAME
div.abscenter.box-notice
  h1 这是什么？
  p
   |『大声看法』- 以互联网的方式热爱法律
  p
   | 我们提供法律和互联网的深度整合，帮助每一位对法律感兴趣的普通人更容易地学习法律。
  p 
   | 这是一个正在进行中的项目，您所看到的一切东西随时可能发生变化。
  p
   | 如果您希望参与进来，请与我们<a href="contact">取得联系</a>。
  p.boxft
    a(href='javascript:history.go(-1);') &laquo; Go back
