title = '参与进来 | ' + SITE_NAME
div.abscenter.box-notice
  h1 想要帮忙？
  p Hey! You wanna do something nice?
  p 本站基于 node.js 和 couchdb 搭建，亟需熟悉这两项技术的达人帮忙写程序。或者您具有丰富的 Web 应用后端编程经验，也请联系我们。<br>
    strong contact:&nbsp;
    a(href="mailto:tech@dakanfa.com") tech#dakanfa.com
  p 为了使条目更规范，查阅更方便，我们使用经过扩展的 
    a(href="http://wowubuntu.com/markdown/", target="_blank") Markdown 
    格式编辑法条内容，此项工作需要极大的耐心与毅力, 
    欢迎对法律感兴趣、并且具有一定强迫症倾向的完美主义者参与进来。<br>
    strong contact:&nbsp;
    a(href="mailto:tech@dakanfa.com") edit#dakanfa.com
  p.boxft
    a(href='javascript:history.go(-1);') &laquo; Go back
