extends base

block body
  div.abscenter.box-notice
    h2 Sorry! We are not ready yet...
    p
    | We're working very hard on building things up for this website. <br>
    | And we are afraid you have to wait for another couple of days. <br>
    p
    | Thank you for your patience. We really do.
    p
    | If you are intrested in making us run faster, please contact man#idufa.com for this project's details.
    p.boxft
      a(href='javascript:history.go(-1);') &laquo; Go back
