heading = '搜索' + (locals.keyword ? ': ' + keyword : '')
- locals.js = null
- locals.title = heading + ' - 法律文库 | ' + SITE_NAME
include ../../_blocks/flush_head
#main-body.fwrap
  .article
    h1 #{heading}
    .article-body
      if locals.keyword
        include sform
        #results
          p.noresult 搜索进行中...
      else
        include form
  .aside
    h2.h-label 搜索小贴士
    .box-info
      ol
        li 1. 默认按关联程度排序，特别相关的会被高亮显示
        li 2. 可以使用 <code>title: 关键字</code> 指定只查找标题
        li 3. 若结果太多，可以常识使用 <code>AND</code> 和引号帮助筛选结果
        li 4. 若结果太少，可以尝试用空格分隔关键词
include ../../_blocks/footer
