- js = null
- actionPrefix = { edit: '编辑: ', comment: '评论: ', flag: '报告错误: '  }
- title = (actionPrefix[operation] || '') + title
include ../../_blocks/flush_head
if operation === 'edit'
  style
    !{istatic('css/library/single.css')}
#main-body.fwrap
  #article.article
  #sidebar.aside.aside-left
